@use 'variables';

@mixin widthHeight($width, $height) {
    width: $width;
    height: $height;
}

@mixin button{
    background: variables.$color-septenary;
    display: block;
    border-radius: 7px;
    font-size: 1rem;
    padding: 12px 82px;
    color: variables.$color-white;
    cursor: pointer;
    border: 0;
}

@mixin navbar{ //partiel navbar
    background-color: variables.$color-septenary;
    text-decoration: underline;
    text-underline-position: under;
    color: variables.$color-white;
    border-radius: 15px;
}

@mixin modalCheckBox{ //partiel modal.scss
    border-radius: 50%;
    text-indent: 29px;
    white-space: nowrap;
    position: absolute;
    transition: 0.3s;
}