@use 'variables';

@mixin button{
    background: variables.$color-septenary;
    display: block;
    border-radius: 7px;
    font-size: 1rem;
    padding: 12px 82px;
    color: variables.$color-white;
    cursor: pointer;
    border: 0;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); 
}