$font-default: "DM Sans", Arial, Helvetica, sans-serif;
$font-roboto: "Roboto, sans-serif";
$color-white: white;
$color-black: black;
$color-primary: #ff0000;
$color-secondary: #3876ac;
$color-tertiary: #1a279c66;
$color-quaternary: #232323;
$color-primary-light: #e54858;
$color-quinary: #279e7a;
$color-senary: #c4c4c4;
$color-septenary: #fe142f;
$color-octonary: #5C1748;
$color-green: #70e000;
$width: 48px;
