@use '../abstracts';

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: abstracts.$font-default;
    font-size: 18px;
    width: 100%;
    height: auto;
  }