@use '../abstracts';

nav.topnav {
    width: 96%;
    height: auto;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    // overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
        @media screen and (max-width: 1036px) {
            width: 88%;
            display: block;
            z-index: 3;
        }
    .navbar-responsive{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    & .header-logo img{
        width: 100%;
        margin-left: 20%;
        @media screen and (max-width: 1036px) {
            margin-left: 0;
        }
        @media screen and (max-width: 768px) {
            width: 100px;
        }
    }
    & ul.main-navbar{
        display: flex;
        list-style-type: none;
            @media screen and (max-width: 1036px) {
                position: fixed;
                top: 0;
                left: 0;
                background: #5C1748;
                // background: -webkit-linear-gradient(bottom left, #5C1748, #0F7AC7);
                // background: -moz-linear-gradient(bottom left, #5C1748, #0F7AC7);
                background: linear-gradient(to top right, #5C1748, #0F7AC7);
                height: 100vh;
                width: 100%;  
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: all 1s ease-out;
                clip-path: circle(100px at 88% -15%);
            }

       
        &.appear{
            clip-path: circle(1450px at 88% -15%);
        }
        & li{
            @media screen and (max-width: 1036px) {
                margin: 40px 0;
            }
        }
    }

    & a {
        color: abstracts.$color-black;
        text-decoration: none;
        font-size: 1.3vmax;
        font-family: abstracts.$font-default;
        padding: 12px;
        @media screen and (max-width: 1036px) {
            font-size: 2.3vmax;
            color: white;
            font-weight: 500;
        }
        &.active {
            background-color: abstracts.$color-septenary;
            text-decoration: underline;
            text-underline-position: under;
            color: abstracts.$color-white;
            border-radius: 15px;
        }
        &:hover {
            background-color: abstracts.$color-septenary;
            color: abstracts.$color-white;
            border-radius: 15px; 
            text-decoration: underline;
            text-underline-position: under;
          }
      }
    & .icon{
        display: none;
        color: abstracts.$color-septenary;
        @media screen and (max-width: 1036px) {
            display: block;
            position: relative;
            cursor: pointer;
            z-index: 10;
            
        }
    }
}
    
               
            
    
