@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 100%;
  height: auto;
}

nav.topnav {
  width: 92%;
  height: auto;
  margin-top: 3.5%;
  margin-bottom: 3.5%;
  margin-left: 3.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1036px) {
  nav.topnav {
    width: 88%;
    display: block;
  }
}

.navbar-responsive {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1036px) {
  .navbar-responsive {
    z-index: 4;
  }
}
.navbar-responsive .header-logo img {
  width: 100%;
}
@media screen and (max-width: 1036px) {
  .navbar-responsive .header-logo img {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .navbar-responsive .header-logo img {
    width: 100px;
  }
}

.icon {
  right: 4%;
  width: 26px;
  height: 33px;
  display: none;
  cursor: pointer;
  z-index: 10;
  color: #fe142f;
}
@media screen and (max-width: 1036px) {
  .icon {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.icon:hover {
  background-color: #fe142f;
  border-radius: 6px;
  padding: 7px 5px;
}
.icon:hover path {
  stroke: white;
}

.header-logo, #nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ham {
  cursor: pointer;
  transition: transform 400ms;
  user-select: none;
}
.ham .line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fe142f;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham .top {
  stroke-dasharray: 40 82;
}
.ham .middle {
  stroke-dasharray: 40 111;
}
.ham .bottom {
  stroke-dasharray: 40 161;
}
.ham.active {
  position: fixed;
}
.ham.active {
  transform: rotate(45deg);
}
.ham.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}
.ham.active .middle {
  stroke-dashoffset: 23px;
}
.ham.active .bottom {
  stroke-dashoffset: -83px;
}

.main-navbar {
  width: 50%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
@media screen and (max-width: 1036px) {
  .main-navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background: linear-gradient(to top right, #5C1748, #3876ac);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s linear;
    clip-path: circle(100px at 88% -15%);
  }
}
.main-navbar.appear {
  clip-path: circle(1820px at 88% -15%);
}
@media screen and (max-width: 1036px) {
  .main-navbar li {
    margin: 40px 0;
  }
}
.main-navbar a {
  color: black;
  text-decoration: none;
  font-size: 1.3vmax;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  padding: 12px;
}
@media screen and (max-width: 1036px) {
  .main-navbar a {
    font-size: 2.3vmin;
    font-weight: 500;
    color: white;
  }
}
@media screen and (max-width: 766px) {
  .main-navbar a {
    font-size: 2.5vmax;
  }
}
.main-navbar a.active {
  background-color: #fe142f;
  text-decoration: underline;
  text-underline-position: under;
  color: white;
  border-radius: 15px;
}
.main-navbar a:hover {
  background-color: #fe142f;
  text-decoration: underline;
  text-underline-position: under;
  color: white;
  border-radius: 15px;
}

main {
  width: 88%;
  font-weight: bolder;
  color: black;
  padding-top: 0.5vw;
  text-align: justify;
  flex: 1;
  height: auto;
  z-index: 0;
}

.hero-section {
  height: auto;
  display: flex;
  border-radius: 8px;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1036px) {
  .hero-section {
    width: 100%;
    flex-direction: column;
    box-shadow: none;
  }
}
.hero-section .hero-content {
  width: 40%;
  background: #232323;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px 0 0 8px;
}
@media screen and (max-width: 1036px) {
  .hero-section .hero-content {
    width: 100%;
    background-color: white;
    color: #232323;
  }
}
.hero-section .hero-content h1.hero-headline {
  width: 150%;
  text-align: left;
  font-size: 5.7vmax;
  margin-left: 10%;
  margin-top: 6.5%;
}
@media screen and (max-width: 1036px) {
  .hero-section .hero-content h1.hero-headline {
    font-size: 5vmin;
    width: 100%;
    margin-left: 0;
    text-align: left;
    margin-top: 1%;
  }
}
@media screen and (max-width: 766px) {
  .hero-section .hero-content h1.hero-headline {
    font-size: 9.5vmin;
    width: 100%;
    margin: 0;
  }
}
.hero-section .hero-content p {
  width: 80%;
  font-weight: normal;
  padding: 0;
  margin-left: 10%;
  font-size: 1.7vmax;
  text-align: left;
}
@media screen and (max-width: 1036px) {
  .hero-section .hero-content p {
    width: 100%;
    margin-left: 0;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 3vmin;
  }
}
@media screen and (max-width: 766px) {
  .hero-section .hero-content p {
    margin-top: 4%;
    margin-left: 0;
    margin-bottom: 5%;
    font-size: 3.4vmin;
    width: 100%;
  }
}
.hero-section .hero-content button.btn-signup {
  background: #fe142f;
  display: block;
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 82px;
  color: white;
  cursor: pointer;
  border: 0;
  outline: none;
  text-transform: capitalize;
  font-size: 1.3vmax;
  padding: 15px 20px;
  margin-left: 10%;
  margin-bottom: 10%;
  width: 15vmax;
}
@media screen and (max-width: 1036px) {
  .hero-section .hero-content button.btn-signup {
    display: none;
    font-size: 1.3vmin;
  }
}
.hero-section .hero-img {
  width: 60%;
}
@media screen and (max-width: 1036px) {
  .hero-section .hero-img {
    width: 100%;
  }
}
.hero-section .hero-img img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  border-radius: 0 8px 8px 0;
}
@media screen and (max-width: 766px) {
  .hero-section .hero-img img {
    border-radius: 10px;
  }
}
.hero-section .btn-signup {
  display: none;
}
@media screen and (max-width: 1036px) {
  .hero-section .btn-signup {
    display: inline-block;
    background: #fe142f;
    display: block;
    border-radius: 7px;
    font-size: 1rem;
    padding: 12px 82px;
    color: white;
    cursor: pointer;
    border: 0;
    position: unset;
    margin: 30px auto;
    padding: 12px 12px;
    width: 35vmin;
    text-transform: capitalize;
    transform: initial;
    font-size: 1.7vmax;
  }
}

.bground {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1a279c66;
}
.bground .content {
  margin: 2% auto;
  width: 100%;
  max-width: 500px;
  max-height: 850px;
  animation-name: modalopen;
  animation-duration: 0.8s;
  background: #232323;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  color: white;
  padding-top: 10px;
}
@media screen and (max-width: 766px) {
  .bground .content {
    margin: 9vh auto 0;
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
}
@media screen and (max-width: 1036px) {
  .bground .content {
    z-index: 4;
  }
}
.bground .content .modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}
@media screen and (max-width: 766px) {
  .bground .content .modal-body {
    height: 650px;
  }
}

form .formData1 label, form .formData label {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 17px;
}
@media screen and (max-width: 766px) {
  form .formData1 label, form .formData label {
    margin-bottom: 0px;
    font-size: 12px;
    margin-top: 7px;
  }
}
form .formData1 input, form .formData input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}
form .formData1 input.text-control, form .formData input.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  height: 55px;
  border-radius: 8px;
  font-size: 20px;
}
@media screen and (max-width: 766px) {
  form .formData1 input.text-control, form .formData input.text-control {
    height: 38px;
  }
}
form .formData1 p.help, form .formData p.help {
  width: 100%;
  height: 12px;
  margin-top: 3px;
  font-size: 12px;
  font-weight: normal;
}
@media screen and (max-width: 766px) {
  form .formData1 p.help, form .formData p.help {
    font-size: 11px;
  }
}
form .formData1 span.help, form .formData span.help {
  font-size: 10px;
  line-height: 35px;
  margin: auto;
}

@media screen and (max-width: 766px) {
  .radio-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
}

@media screen and (max-width: 766px) {
  .formData span.GameOn {
    display: none;
  }
}

form .formData .checkbox-label,
form .formData .checkbox2-label {
  display: inline-block;
  position: relative;
  margin-left: 20px;
  font-size: 12px;
  font-weight: normal;
}
@media screen and (max-width: 766px) {
  form .formData .checkbox-label[for^=location] {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 11px;
    width: 50px;
    margin-right: 2px;
  }
}
@media screen and (min-width: 766px) {
  form .formData .checkbox-label[for^=location] {
    width: 70px;
    margin-top: 5px;
  }
}
form .formData .checkbox-label[for^=location2] {
  width: 75px;
}
@media screen and (min-width: 766px) {
  form .formData .checkbox-label[for^=location2] {
    width: 100px;
  }
}
form .formData .checkbox2-label[for^=checkbox] {
  margin-top: 10px;
}
@media screen and (max-width: 766px) {
  form .formData .checkbox2-label[for^=checkbox] {
    margin-top: 0px;
  }
}
form .formData .checkbox-label .checkbox-icon, form .formData .checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  transition: 0.3s;
  left: -30px;
  top: -1px;
}
@media screen and (max-width: 766px) {
  form .formData .checkbox-label .checkbox-icon, form .formData .checkbox2-label .checkbox-icon {
    width: 15px;
    height: 15px;
    left: -20px;
  }
}
form .formData .checkbox-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  transition: 0.3s;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
@media screen and (max-width: 766px) {
  form .formData .checkbox-label .checkbox-icon::after {
    width: 8px;
    height: 8px;
    transform: translate(-55%, -55%);
  }
}
form .formData .checkbox-input, form .formData .checkbox-input-1 {
  display: none;
}
form .formData .checkbox-input:checked + .checkbox-label .checkbox-icon::after,
form .formData .checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}
form .formData .checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #27927a;
}
form .formData .checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}
form .formData .checkbox2-label .checkbox-icon::after {
  content: "";
  width: 12px;
  height: 7px;
  border-radius: 3px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: white;
  border-left-color: white;
  transform: rotate(-45deg);
  left: 25%;
  top: 18%;
  position: absolute;
  opacity: 0;
}

p.text-label {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: normal;
}
@media screen and (max-width: 766px) {
  p.text-label {
    font-size: 12px;
    margin-bottom: 0px;
  }
}

.checkbox2-label {
  margin-bottom: 0;
}

span.obligatoire {
  font-size: 10px;
  display: inline-block;
  margin-left: 10px;
  width: 42px;
  height: 10px;
}

.btn-submit, .btn-close {
  background: #fe142f;
  display: block;
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 82px;
  color: white;
  cursor: pointer;
  border: 0;
}
@media screen and (max-width: 766px) {
  .btn-submit, .btn-close {
    padding: 10px 45px;
    font-size: 12px;
    margin: 10px auto;
  }
}
@media screen and (min-width: 766px) {
  .btn-submit, .btn-close {
    margin: 10px auto;
  }
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  width: 3px;
  height: 33px;
  background-color: #fff;
}
@media screen and (max-width: 766px) {
  .close:before, .close:after {
    width: 3px;
    height: 25px;
  }
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

footer {
  width: 94%;
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 768px) {
  footer {
    margin: 0;
  }
}
@media screen and (max-width: 1036px) {
  footer {
    margin: 0;
  }
}
footer .copyrights {
  color: #fe142f;
  padding: 0;
  font-size: 1rem;
  font-weight: bolder;
}
@media screen and (max-width: 768px) {
  footer .copyrights {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 1036px) {
  footer .copyrights {
    text-align: center;
    margin-bottom: 20px;
  }
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=modal.css.map */
