@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
body {
  /* margin: 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1036px) {
  body {
    width: 98%;
  }
}

nav.topnav {
  width: 88%;
  height: auto;
  margin-top: 3.5%;
  margin-bottom: 3.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1036px) {
  nav.topnav {
    width: 94%;
    display: block;
  }
}
nav.topnav .navbar-responsive {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.topnav .header-logo img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  nav.topnav .header-logo img {
    width: 100px;
  }
}
nav.topnav ul.main-navbar {
  display: flex;
  list-style-type: none;
}
@media screen and (max-width: 1036px) {
  nav.topnav ul.main-navbar {
    position: absolute;
    top: 10%;
    right: 0;
    left: -100%;
    background-color: #3876ac;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
  }
}
@media screen and (max-width: 768px) {
  nav.topnav ul.main-navbar {
    top: 8%;
  }
}
nav.topnav ul.main-navbar.appear {
  left: 0px;
  z-index: 2;
}
@media screen and (max-width: 1036px) {
  nav.topnav ul.main-navbar li {
    margin: 40px 0;
  }
}
nav.topnav a {
  padding: 12px;
  margin: 5px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1.3vmax;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}
nav.topnav a.active {
  background-color: #fe142f;
  text-decoration: underline;
  text-underline-position: under;
  color: white;
  border-radius: 15px;
}
nav.topnav a:hover {
  background-color: #fe142f;
  color: white;
  border-radius: 15px;
}
nav.topnav .icon {
  display: none;
  color: #fe142f;
}
@media screen and (max-width: 1036px) {
  nav.topnav .icon {
    display: block;
    cursor: pointer;
  }
}

main {
  width: 88%;
  font-weight: bolder;
  color: black;
  padding-top: 0.5vw;
  border-radius: 2rem;
  text-align: justify;
  flex: 1;
  height: auto;
  z-index: 1;
}
.hero-section {
  height: auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50% 25% 25%;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    box-shadow: none;
  }
}
.hero-section .hero-content {
  grid-column: span 4;
  grid-row: span 3;
  background: #232323;
  color: #fff;
  position: relative;
  text-align: left;
  display: grid;
  grid-template-rows: 50% 25% 25%;
}
@media screen and (max-width: 768px) {
  .hero-section .hero-content {
    background-color: white;
    color: #232323;
    display: block;
  }
}
.hero-section .hero-content h1.hero-headline {
  width: 90vmin;
  font-size: 10vmin;
  margin-left: 6.5%;
  margin-top: 6.5%;
}
@media screen and (max-width: 1036px) {
  .hero-section .hero-content h1.hero-headline {
    font-size: 7vmin;
    width: 60vmin;
  }
}
@media screen and (max-width: 768px) {
  .hero-section .hero-content h1.hero-headline {
    font-size: 10.1vmin;
    width: 100%;
    margin: 0;
  }
}
.hero-section .hero-content p {
  width: 50%;
  font-weight: normal;
  margin-top: 6.5%;
  padding: 0;
  grid-row: 2/3;
  margin-left: 6.5%;
}
@media screen and (max-width: 1036px) {
  .hero-section .hero-content p {
    font-size: 2vmin;
    width: 60vmin;
  }
}
@media screen and (max-width: 768px) {
  .hero-section .hero-content p {
    margin-top: 10%;
    margin-left: 0;
    margin-bottom: 10%;
    font-size: 3.4vmin;
    width: 100%;
  }
}
.hero-section .hero-content button.btn-signup {
  background: #fe142f;
  display: block;
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 82px;
  color: white;
  cursor: pointer;
  border: 0;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  text-transform: capitalize;
  font-size: 2vmin;
  padding: 15px 20px;
  left: 40%;
  bottom: 10%;
  width: 15vmax;
}
@media screen and (max-width: 768px) {
  .hero-section .hero-content button.btn-signup {
    bottom: -40vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6vmax;
    display: none;
  }
}
.hero-section .hero-img {
  grid-column: span 8;
  grid-row: span 4;
}
.hero-section .hero-img img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .hero-section .hero-img img {
    margin-bottom: 12%;
  }
}
.hero-section .btn-signup {
  display: none;
}
@media screen and (max-width: 768px) {
  .hero-section .btn-signup {
    display: inline-block;
    background: #fe142f;
    display: block;
    border-radius: 7px;
    font-size: 1rem;
    padding: 12px 82px;
    color: white;
    cursor: pointer;
    border: 0;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: unset;
    margin: 0 auto;
    padding: 12px 12px;
    width: 35vmin;
    transform: initial;
    font-size: 1.5vmax;
  }
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #1a279c66;
}
.bground .content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  min-height: 850px;
  animation-name: modalopen;
  animation-duration: 0.8s;
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: white;
  padding-top: 10px;
}
.bground .content .modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

form .formData1 label, form .formData label {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
}
form .formData1 input, form .formData input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}
form .formData1 input.text-control, form .formData input.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 55px;
}
form .formData1 p.help, form .formData p.help {
  margin-top: 3px;
  font-size: 10px;
  font-weight: normal;
}

form .formData .checkbox-label,
form .formData .checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}
form .formData .checkbox-label .checkbox-icon, form .formData .checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}
form .formData .checkbox-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}
form .formData .checkbox-input {
  display: none;
}
form .formData .checkbox-input:checked + .checkbox-label .checkbox-icon::after,
form .formData .checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}
form .formData .checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #27927a;
}
form .formData .checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}
form .formData .checkbox2-label .checkbox-icon::after {
  content: "";
  width: 12px;
  height: 7px;
  border-radius: 3px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: white;
  border-left-color: white;
  transform: rotate(-45deg);
  left: 25%;
  top: 18%;
  position: absolute;
  opacity: 0;
}

p.text-label {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: normal;
}

.btn-submit, .btn-close {
  background: #fe142f;
  display: block;
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 82px;
  color: white;
  cursor: pointer;
  border: 0;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

footer {
  width: 100%;
  margin: 20px;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 768px) {
  footer {
    padding-bottom: 8%;
    margin: 0;
  }
}
footer .copyrights {
  color: #fe142f;
  padding: 0;
  font-size: 1rem;
  margin: 60px 0 30px 3.75%;
  font-weight: bolder;
}
@media screen and (max-width: 768px) {
  footer .copyrights {
    text-align: center;
  }
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=modal.css.map */
